---
Checks: '*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  '
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.AbstractClassCase: 'CamelCase'
  readability-identifier-naming.AbstractClassPrefix: 'Basic'
  readability-identifier-naming.AbstractClassSuffix: ''
  readability-identifier-naming.AggressiveDependentMemberLookup: 'true'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassConstantCase: 'lower_case'
  readability-identifier-naming.ClassMemberCase: 'lower_case'
  readability-identifier-naming.ClassMethodCase: 'camelBack'
  readability-identifier-naming.ConstantCase: 'lower_case'
  readability-identifier-naming.ConstantMemberCase: 'lower_case'
  readability-identifier-naming.ConstantParameterCase: 'lower_case'
  readability-identifier-naming.ConstantParameterPrefix: 't_'
  readability-identifier-naming.ConstantPointerParameterCase: 'lower_case'
  readability-identifier-naming.ConstantPointerParameterPrefix: 't_'
  readability-identifier-naming.ConstantPointerParameterSuffix: '_ptr'
  readability-identifier-naming.ConstexprFunctionCase: 'camelBack'
  readability-identifier-naming.ConstexprMethodCase: 'camelBack'
  readability-identifier-naming.ConstexprVariableCase: 'lower_case'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.GetConfigPerFile: 'true'
  readability-identifier-naming.GlobalConstantCase: 'UPPER_CASE'
  readability-identifier-naming.GlobalConstantPrefix: 'G_'
  readability-identifier-naming.GlobalConstantPointerCase: 'UPPER_CASE'
  readability-identifier-naming.GlobalConstantPointerPrefix: 'G_'
  readability-identifier-naming.GlobalConstantPointerSuffix: '_PTR'
  readability-identifier-naming.GlobalFunctionCase: 'camelBack'
  readability-identifier-naming.GlobalPointerCase: 'UPPER_CASE'
  readability-identifier-naming.GlobalPointerPrefix: 'G_'
  readability-identifier-naming.GlobalPointerSuffix: '_PTR'
  readability-identifier-naming.GlobalVariableCase: 'UPPER_CASE'
  readability-identifier-naming.GlobalVariablePrefix: 'G_'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'true'
  readability-identifier-naming.InlineNamespaceCase: 'lower_case'
  readability-identifier-naming.LocalConstantCase: 'lower_case'
  readability-identifier-naming.LocalConstantPointerCase: 'lower_case'
  readability-identifier-naming.LocalConstantPointerSuffix: '_ptr'
  readability-identifier-naming.LocalPointerCase: 'lower_case'
  readability-identifier-naming.LocalPointerSuffix: '_ptr'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.MethodCase: 'camelBack'
  readability-identifier-naming.NamespaceCase: 'lower_case'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.ParameterPrefix: 't_'
  readability-identifier-naming.ParameterPackCase: 'lower_case'
  readability-identifier-naming.ParameterPackPrefix: 't_'
  readability-identifier-naming.PointerParameterCase: 'lower_case'
  readability-identifier-naming.PointerParameterPrefix: 't_'
  readability-identifier-naming.PointerParameterSuffix: '_ptr'
  readability-identifier-naming.PrivateMemberCase: 'lower_case'
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.PrivateMethodCase: 'camelBack'
  readability-identifier-naming.PrivateMethodPrefix: 'm_'
  readability-identifier-naming.ProtectedMemberCase: 'lower_case'
  readability-identifier-naming.ProtectedMethodCase: 'camelBack'
  readability-identifier-naming.PublicMemberCase: 'lower_case'
  readability-identifier-naming.PublicMethodCase: 'camelBack'
  readability-identifier-naming.ScopedEnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.StaticConstantCase: 'lower_case'
  readability-identifier-naming.StaticVariableCase: 'lower_case'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.TemplateParameterCase: 'CamelCase'
  readability-identifier-naming.TemplateParameterIgnoredRegexpCase: 'expr-type'
  readability-identifier-naming.TemplateTemplateParameterCase: 'CamelCase'
  readability-identifier-naming.TypeAliasCase: 'lower_case'
  readability-identifier-naming.TypeAliasSuffix: '_type'
  readability-identifier-naming.TypedefCase: 'lower_case'
  readability-identifier-naming.TypedefSuffix: '_type'
  readability-identifier-naming.TypeTemplateParameterCase: 'CamelCase'
  readability-identifier-naming.TypeTemplateParameterIgnoredRegexp: 'expr-type'
  readability-identifier-naming.UnionCase: 'CamelCase'
  readability-identifier-naming.ValueTemplateParameterCase: 'CamelCase'
  readability-identifier-naming.VariableCase: 'lower_case'
  readability-identifier-naming.VirtualMethodCase: 'camelBack'
